<% layout('/layouts/boilerplate') %>

<div class="row col-6">
<div class="alert alert-danger mt-5" role="alert" style="height: 5rem;">
    <div class="col ">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <%=message%>
        
    </div>
</div>
</div>