<% layout('/layouts/boilerplate')%>
<div class="row">
<div class="col-8 offset-2">
<body>
    <br>
    <h3>Create a New Listing</h3>
    <br>
    <form action="/listings" method="post" class="needs-validation" novalidate>

        <div class="mb-3">

            <label for="title" class="form-label">Enter Title: </label>
            <input type="text" name="listing[title]" placeholder="Enter a Catchy Title" class="form-control" required/>

            <div class="valid-feedback">valid title</div>
            <div class="invalid-feedback">Give a title</div>

        </div>

        <div class="mb-3">

            <label for="description" class="form-label">Description: </label><br>
            <input type="text" name="listing[description]" placeholder="Give Some Info..." class="form-control" required/>

            <div class="invalid-feedback">Give some description</div>

        </div>

        <div class="mb-3">

            <label for="image" class="form-label">Image Link: </label>
            <input type="text" name="listing[image]" placeholder="Put Image URL" class="form-control" required/>

        </div>

        <div class="row">
            <div class="mb-3 col-md-4">

                <label for="price" class="form-label">Enter Price: </label>
                <input type="number" name="listing[price]" placeholder="Enter Price" class="form-control" required/>

                <div class="invalid-feedback">price should be valid</div>

            </div>

            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Enter Country: </label>
                <input type="text" name="listing[country]" placeholder="Enter Country" class="form-control" required/>

                <div class="invalid-feedback">country name should be valid</div>

            </div>
        </div>

        <div class="mb-3"> 

            <label for="location" class="form-label">Enter Location: </label>
            <input type="text" name="listing[location]" placeholder="Enter Location" class="form-control"/ required>

            <div class="invalid-feedback">location should be valid</div>

        </div>

        <button type="submit"  class="btn btn-outline-success">Add</button>
        <br><br>

    </form>
</body>

</div>
</div>
